@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-white text-black font-body;
}

* {
  -webkit-tap-highlight-color: transparent;
}

input,
select,
button {
  @apply outline-none;
}

input:focus,
select:focus {
  @apply ring-2 ring-accent-yellow ring-offset-2 ring-offset-white;
}
